<app-toolbar></app-toolbar>
<div style="padding: 20px 15%;" fxLayout='row'>
    <ng-container *ngIf='cart'>
        <div fxFlex='70' fxLayout='column'>
            <div fxLayout='column' *ngFor='let item of cart.Items'>
                <div fxLayout='row' fxLayoutAlign=" center" class='row-item'>
                    <img class="custom-image" [src]="item?.Item?.volumeInfo?.imageLinks?.thumbnail">
                    <div fxFlex fxLayout='column'>
                        <span fxFlex>{{item?.Item?.volumeInfo?.title}}</span>
                        Price: 25$
                    </div>
                    <div fxLayout='row'>
                        <button mat-icon-button color="primary" (click)='add(item)'>
                            <mat-icon>add</mat-icon>
                        </button>
                        <input style="border: 1px solid; width: 50px;" [value]='item?.Amount' matInput type="number">
                        <button mat-icon-button color="primary" (click)='remove(item)'>
                            <mat-icon>remove</mat-icon>
                        </button>
                        <button mat-icon-button color="primary" (click)='clear(item)'>
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
            <div fxLayout='row' fxLayoutAlign=" center" class='row-item'>
                <div fxFlex style="text-align: center;">Total: {{total}}$</div>
            </div>
        </div>
        <div style="padding-left: 15px;" fxFlex fxLayout='column'>
            <div fxLayout='column' fxLayoutAlign="center" class='row-item'
                [class.delivery-selected]="deliveryBy === 'Motorbike'" (click)="chooseDelivery('Motorbike')">
                <span>Motobike</span>
                <span>Cost: {{constForMotorbike}}$</span>
                <span>Factor: {{factorForMotorBike}}</span>
            </div>
            <div fxLayout='column' fxLayoutAlign="center" class='row-item'
                [class.delivery-selected]="deliveryBy === 'Train'" (click)="chooseDelivery('Train')">
                <span>Train</span>
                <span>Cost: {{constForTrain}}$</span>
                <span>Factor: {{factorForTrain}}</span>
            </div>
            <div fxLayout='column' fxLayoutAlign="center" class='row-item'
                [class.delivery-selected]="deliveryBy === 'Aircraft'" (click)="chooseDelivery('Aircraft')">
                <span>Aircraft</span>
                <span>Cost: {{constForAircraft}}$</span>
                <span>Factor: {{factorForAirCraft}}</span>
            </div>

            <form [formGroup]="form" fxLayout='column' class='form'>

                <mat-form-field>
                    <input matInput placeholder="Email" formControlName="Email" required>
                    <mat-error>
                        <span *ngIf="form?.get('Email')?.errors?.required">This value is mandatory</span>
                        <span *ngIf="form?.get('Email')?.errors?.pattern">Wrong format</span>
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input matInput placeholder="User name" formControlName="Username">
                    <mat-error *ngIf="form?.get('Username')?.errors?.required">
                        This value is mandatory
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input matInput placeholder="Phone" formControlName="Phone">
                    <mat-error *ngIf="form?.get('Phone')?.errors?.required">
                        This value is mandatory
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input matInput placeholder="Address" formControlName="Address">
                    <mat-error *ngIf="form?.get('Address')?.errors?.required">
                        This value is mandatory
                    </mat-error>
                </mat-form-field>
            </form>

            <!-- information user -->


            <button mat-raised-button color="primary" (click)='checkOut()'>Check out</button>

        </div>
    </ng-container>
    <div *ngIf='!cart'>You don't have any items, please go to homepage <a [routerLink]="['/']">Home</a></div>
</div>