.row-item {
    margin-bottom: 16px;
    border: 1px solid lightgrey;
    padding: 10px;
}

.custom-image {
    height: 100px;
    padding-right: 16px;
}

.delivery-selected {
    background: lightgrey;
}