<mat-toolbar color="primary" style="height: 100px">
    <div fxFill fxLayout="row" style="padding: 0 15%;" fxLayoutAlign=" center">
        <mat-form-field fxFlex>
            <input #searchInput disabled matInput type="text">
        </mat-form-field>
        <button mat-icon-button matBadgePosition="after" matBadgeColor="accent" [routerLink]="['/shopping-cart']">
            <mat-icon>add_shopping_cart</mat-icon>
        </button>
    </div>
</mat-toolbar>
<div fxFill fxLayout="row" style="padding: 20px 15%;">
    <div fxFlex='20'>
        <img [style.width.%]='85' [src]="book?.volumeInfo?.imageLinks?.thumbnail">
    </div>
    <div fxFlex fxLayout='column'>
        <b style="margin-bottom: 16px;">{{book?.volumeInfo?.title}}</b>

        <span style="margin-bottom: 16px;">Price: 25$</span>

        <span style="margin-bottom: 16px;">{{book?.volumeInfo?.description}}</span>

        <div fxLayout='row' style="margin-bottom: 16px;">
            <button mat-icon-button color="primary" (click)='add()'>
                <mat-icon>add</mat-icon>
            </button>
            <input style="border: 1px solid; width: 50px;" matInput type="number" [(ngModel)]='amount' min=0>
            <button mat-icon-button color="primary" (click)='remove()'>
                <mat-icon>remove</mat-icon>
            </button>
        </div>
        <div>
            <button fxFlex='50' mat-raised-button color="primary" (click)='addToCart()'>Add To Cart</button>
        </div>
    </div>
</div>